## Core LaTeX/TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents
*.dvi
*.xdv
*-converted-to.*

## Bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build directories
latex.out/

## Auxiliary and intermediate files from other packages
*.lol
*.nav
*.snm
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.spl
*.idx
*.ilg
*.ind

## Temporary files
*.backup
*~
*.swp
*.swo
*~
.DS_Store


main.pdf